@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:ital,wght@1,900&display=swap');

body{
  background-image: url(https://th.bing.com/th/id/R.ed32c408828b5087db816bd9de991bb2?rik=EYOzCoH5Rt9Mhg&pid=ImgRaw&r=0);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  line-height: 1.6;
  width: 500px;
  margin: auto;
  text-align: center;
}

form{
  background-color: rgb(255,105,180,0.6);
  padding: 20px;
  max-width: 500px;
  margin: auto;
  border: 2px;
  border-radius: 10px; 
  text-align: left;
}

h1{
  font-size: 30px;
  font-family: 'Rubik Iso', cursive;
  color: yellow;
  font-weight: 500;
}

input{
  padding: 10px;
  border: none;
  border-radius: 10px;
}

select{
  padding: 10px;
  border: none;
  border-radius: 10px;
}

